<!DOCTYPE html>

<html>
<head>
	<title>Spectax9</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header_div">
{%include "header_session.html"%}
</div>
<div id="header_dummy_div"></div>
<div id="index_wrapper" align="center">

<div id="index_welcome">
	<h1>Welcome To Spectax9!</h1>
	<h2>Under Construction! Please visit back later.</h2>
	
</div>
</div>
<div id="footer_dummy_div"></div>
</body>
</html>